@model Quitanda.Models.Fruta

@{
    ViewBag.Title = "Frutas da Quitanda";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<link href="~/Content/Site.css" rel="stylesheet" />

@using (Html.BeginForm("EnviarLista", "Home", FormMethod.Post))
{
    <fieldset>
        <legend>Frutas</legend>


        <div>
            <b>@Html.LabelFor(x => x.FrutaID)</b>
        </div>
        <div>
            @Html.EditorFor(x => x.FrutaID)
            @*<input type="number" value="@Model.FrutaID" name="FrutaId" />*@
        </div>

        <div>
            <b>@Html.LabelFor(x => x.NomeFruta)</b>
            
        </div>
        <div>
            <b>@Html.EditorFor(x => x.NomeFruta)</b>
            @*<input type="text" value="@Model.NomeFruta" name="NomeFruta" />*@
        </div>
       
        <div>
            <input type="submit" value="Enviar" />
        </div>
    </fieldset>
}

